* {
    margin: 0px;
    padding: 0px;
}

.image {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}
.header nav {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    margin-right: 127px;
    flex-wrap: wrap;
}

.header ul { 
    margin-left: 60px;
    border-right: 2px black solid;
    padding-right: 18px;
}
.header a {
    text-decoration: none;
    color: aliceblue;
}

.header {
   width: 100%;   
   position: absolute;
   top: 49px;
   display: flex;
}
.footer {
    width: 546px;
    height: 43px;
    position: absolute;
    bottom:45px;
    left: 180px;

   
}

.footer h1 {
   color: aliceblue;
}

@media (max-width:600px) {
    .header nav {
        display: flex;
    
    }
}

@media (max-width:600px) {
    .header ul {
        margin-top: 10px;
    }
    
}


@media (max-width:600px) {
    .image {
        background-image: url(images/images.jpg);
    }
    
}

@media (max-width:600px) {
    .footer h1 {
        color: brown;
    }
}